
// base sass, mixin + variable
@import 'base/vars';
@import 'base/mixin/mixin';
@import 'base/mixin/grid';
@import 'base/mixin/grid-framework';

// global
@import 'layout/global';
//@import 'layout/grid_bootstrap';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/404';

// module
// @import 'base/fonts';
@import 'module/icon'; 
@import 'module/form';
@import 'module/button';
@import 'module/animate';
@import 'module/bg';

// component all
@import 'component/social';
@import 'component/nav';
@import 'component/search';

// component home
@import 'component/headline';
@import 'component/feed';
@import 'component/highlight';

// component section
@import 'component/section';
@import 'component/author';
@import 'component/paging';
@import 'component/embed';

// component read
@import 'component/media';
@import 'component/title';
@import 'component/breadcrumb';
@import 'component/read';
@import 'component/read_listing';
@import 'component/read_magazine';
@import 'component/tagging';
@import 'component/related';

// plugin
// @import 'plugin/slick';
// @import 'plugin/slick-theme';
// @import 'plugin/slick-custom';
// @import 'plugin/magnificpopup';

// ads
@import 'ads/ads';

// footer
@import 'layout/footer';

// override
@import 'module/override';

