.related {
	position: relative;
	background: #f1f1f1;
	padding: 15px;
	@include min-responsive($screen-desktop) {
		float: left;
		width: 45%;
		margin-right: 25px;
		margin-bottom: 15px;
	}
	// a {
	// 	color: inherit;
	// 	border-bottom: none;
	// 	&:hover {
	// 		color: inherit;
	// 		border-bottom: none;
	// 	}
	// }
	&-wrap {
		position: relative;
		align-items: center;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-subtitle {
		padding: 0;
		margin: 0 0 10px;
		text-transform: uppercase;
		@include font-pack($font_secondary, 20px, false, false, #2b2b2b);
		border-bottom: 1px solid $color_theme;
	}
	&-img {
		width: 90px;
	}
	&-title {
		padding: 0 15px;
		margin: 0;
		width: calc(100% - 90px);
		@include title_overflow(auto, 75px);
		@include font-pack($font_body, 16px, false, false, false);
	}
	&-link {
		display: block;
	}
}
