<div class="paging">
	<ul class="paging-wrap col-flex">
		<li class="paging-item">
			<a class="paging-link -prev" href="#">Prev</a>
		</li>
		<li class="paging-item">
			<a class="paging-link" href="#">1</a>
		</li>
		<li class="paging-item">
			<a class="paging-link -active" href="#">2</a>
		</li>
		<li class="paging-item">
			<a class="paging-link" href="#">3</a>
		</li>
		<li class="paging-item">
			<a class="paging-link" href="#">4</a>
		</li>
		<li class="paging-item">
			<a class="paging-link" href="#">5</a>
		</li>
		<li class="paging-item">
			<a class="paging-link -next" href="#">Next</a>
		</li>
	</ul>
</div>
