.mt1 {
	margin-top: 10px;
}
.mt2 {
	margin-top: 20px;
}
.mt3 {
	margin-top: 30px;
}
.mt4 {
	margin-top: 40px;
}
.mt5 {
	margin-top: 50px;
}
.mt6 {
	margin-top: 60px;
}
.mt7 {
	margin-top: 70px;
}

.display-table {
	display: table;
	@include display_full();
	position: relative;
	z-index: 1;
}
.display-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	@include display_full();
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

.divider {
	padding: 2px 0;
	background: #f0f0f0;
	margin: 40px 0;
}
.pull-right {
	float: right;
}

// override
.root {
	overflow: hidden;
}
.header,
.cover,
.root {
	@include transition(all .2s ease);
}
.nav-button.-menu.-active {
	.icon-bar i {
		background: transparent;
	}
	.icon-bar i:before {
		width: $width-bar;
		top: 0;
		background: #000;
		-webkit-transform: rotateZ(-45deg);
		-moz-transform: rotateZ(-45deg);
		-ms-transform: rotateZ(-45deg);
		-o-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
	.icon-bar i:after {
		width: $width-bar;
		bottom: 0;
		background: #000;
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	//overflow: hidden;
}
.nav.-panel.-active {
	visibility: visible;
	@include transform(translateX(0vw));
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.nav.-panel .nav-item {
	height: auto;
}