<footer class="footer">
	<div class="container">
		<div class="footer-row col-flex">
			<div class="footer-col">
				<div class="footer-logo">
					<a href="index.html">
						<img src="./asset/images/logo-bazaar-small.png" alt="Harper's BAZAAR Indonesia">
					</a>
				</div>
				<div class="footer-social social -footer">
					<div class="social-item">
						<a href="#" class="social-link -facebook">
							<span class="icon icon-facebook"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -twitter">
							<span class="icon icon-twitter"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -instagram">
							<span class="icon icon-instagram"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -youtube">
							<span class="icon icon-youtube"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-col">
				<nav class="footer-menu">
					<ul class="footer-menu-wrap col-flex">
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">Newsletter</a></li>
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">Events &amp; Promotions</a></li>
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">About Us</a></li>
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">Contact Us</a></li>
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">Subscribe</a></li>
						<li class="footer-menu-item"><a href="static.html" class="footer-menu-link">Advertise</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer-row col-flex">
			<div class="footer-col">
				<div class="footer-copyright">
					<p>A PART OF MRA MEDIA</p>
					<p>Harper's BAZAAR Indonesia participates in various affiliate marketing programs, which means we may get paid commissions on editorially chosen products purchased through our links to retailer sites.</p>
					<p>©2020 Harper's BAZAAR Indonesia. All Rights Reserved.</p>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-network">
					<div class="footer-network-wrap col-flex">
						<div class="footer-network-logo -mra"><a href="#" target="_blank"><img src="./asset/images/logo-mra-media.png" alt="MRA MEDIA"></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
