<header class="header">
	<div class="header-bar">
		<div class="header-wrap container col-flex">
			<div class="header-menu">
				<a href="#" class="nav-button -menu js-menu" title="Menu">
					<span class="icon icon-bar">
						<i></i>
					</span>
				</a>
			</div>
			<div class="header-logo">
				<div class="logo">
					<a href="index.html">
						<img src="./asset/images/logo-bazaar-small.png" alt="Harper's BAZAAR Indonesia">
					</a>
				</div>
			</div>
			<div class="header-nav col-flex">
				<nav class="nav -bar">
					<ul class="nav-wrap col-flex">
						<li class="nav-item"><a href="kanal.html" class="nav-link">Fashion</a></li>
						<li class="nav-item"><a href="kanal-tipe2.html" class="nav-link">Beauty</a></li>
						<li class="nav-item"><a href="kanal.html" class="nav-link">Celebrity</a></li>
						<li class="nav-item"><a href="kanal.html" class="nav-link">Culture</a></li>
					</ul>
				</nav>
			</div>
			<div class="header-search">
				<div class="nav-follow">
					<a href="#" class="nav-link js-follow">Follow</a>
				</div>
				<a href="#" class="nav-button -search js-search" title="Search">
					<span class="icon icon-search"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="social-bar">
		<div class="social-bar-wrap container col-flex">
			<div class="social-item">
				<a href="#" class="social-link -facebook">
					<span class="icon icon-facebook"></span>
				</a>
			</div>
			<div class="social-item">
				<a href="#" class="social-link -twitter">
					<span class="icon icon-twitter"></span>
				</a>
			</div>
			<div class="social-item">
				<a href="#" class="social-link -instagram">
					<span class="icon icon-instagram"></span>
				</a>
			</div>
			<div class="social-item">
				<a href="#" class="social-link -youtube">
					<span class="icon icon-youtube"></span>
				</a>
			</div>
		</div>
	</div>
</header>
<div class="header-holder"></div>
