.ads {
	position: relative;
	&-box {
		text-align: center;
		position: relative;
		margin-bottom: 25px;
	}
	&-top {
		text-align: center;
		//background: #f5f5f5;
		padding: 20px 0;
		width: 100%;
		// @include min-responsive($screen-lg-desktop) {
		// 	width: $screen-lg-desktop;
		// }
		&:empty {
			padding: 0;
		}
	}
	&-belt {
		position: relative;
		text-align: center;
		background: #fff;
		padding: 15px 0;
		margin-top: 40px;
		margin-bottom: 25px;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;
		&:before {
			content: attr(data-title);
			display: inline-block;
			position: absolute;
			background: #fff;
			padding: 0 10px;
			left: calc(50% - (260px / 2));
			width: 260px;
			top: -10px;
			letter-spacing: 1px;
			font-family: $font_secondary;
			font-weight: 400;
			font-size: 11px;
			color: #B2B2B2;
			text-shadow: 0 0 0 #fff, 0 0 0.01em transparent;
		}
	}
	&-horizontal {
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: 0;
		left: calc((100% - 1100px)/2);
		width: $screen-lg-min;
		z-index: 10;

		// edit request dari adserving
		height: auto;
		text-align: center;
		background: #f5f5f5;		
	}
	&-close {
		position: absolute;
		background: #f5f5f5;
		display: inline-block;
		right: 0;
		top: -20px;
		padding: 4px 8px;
		@include font-pack(false, 12px, false, 1, false);
	}
	&-skin {
		position: fixed;
		// top: 75px;
		top: 0;
		z-index: 10;
		width: 100%;
		// @include transition(top .2s ease);
		&-wrap {
			position: relative;
			width: 100%;
		}
		&-item {
			position: absolute;
			width: calc((100% - 1080px)/2);
			display: block;
			top: 0;
			img {
				max-width: none;
			}
			&.-left {
				left: 0;
			}
			&.-right {
				right: 0;
			}
		}
		&.-sticky {
			top: 60px;
			//@include transform(translateY(60px));
		}
		&-img {
			position: absolute;
			&.-left {
				right: 0;
			}
			&.-right {
				left: 0;
			}
		}
	}
}
