.header {
	position: relative;
	padding: 0;
	z-index: 9;
	//border-top: 1px solid #ccc;
	//border-bottom: 1px solid #ccc;
	//box-shadow: 0 2px 5px rgba(0,0,0,.1);
	height: 60px;
	width: 100%;
	// @include min-responsive($screen-lg-desktop) {
	// 	width: $screen-lg-desktop;
	// }
	&-bar {
		height: 100%;
		position: relative;
		z-index: 2;
	}
	&-wrap {
		height: 100%;
		position: relative;
		background: $color_theme2;
		//flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;

		// override
		width: 100%;
		@include min-responsive($screen-lg-desktop - 50px) {
			width: $screen-lg-desktop - 50px;
			padding: 0 10px;
		}
	}
	&-menu {
		padding: 0 0 0 20px;
		flex-grow: 0;
		order: 9;
		@include min-responsive($screen-tablet) {
			order: 0;
			padding: 0 20px 0 0;
		}
	}
	&-logo {
		flex-grow: 0;
		align-items: center;
	}
	&-nav {
		flex-grow: 1;
		padding-left: 10px;
		//justify-content: center;
	}
	&-search {
		flex-grow: 0;
	}
	&.-fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: $color_theme2;
		//box-shadow: 0 2px 5px rgba(0,0,0,.1);
	}
}

.logo {
	position: relative;
	img {
		width: auto;
		height: 35px;
	}
	&-link,
	a {
		display: inline-block;
	}
	&-block {
		position: relative;
		width: 100%;
		height: 100px;
		align-items: center;
		text-align: center;
		@include min-responsive($screen-tablet) {
			height: 150px;
		}
		@include min-responsive($screen-desktop) {
			height: 25vh;
		}
		&-img {
			width: 100%;
			padding: 0 25px;
			text-align: center;
			img {
				height: 50px;
				@include min-responsive($screen-tablet) {
					height: 75px;
				}
				@include min-responsive($screen-desktop) {
					height: 100px;
				}
			}
		}
	}
}
