<div class="content-embed -polling">
	<div class="poll-wrap">
		<div class="poll-question">Do you wear merch when you go to a game?</div>
		<div class="poll-option col-flex">
			<a href="#" class="button button-primary poll-button" data-percent="45">
				<span class="poll-bar"></span>
				<span class="poll-text">Nah, I wear what I want always</span>
			</a>
			<a href="#" class="button button-primary poll-button" data-percent="55">
				<span class="poll-bar"></span>
				<span class="poll-text">Absolutely! I can't go to game without repping my team</span>
			</a>
		</div>
	</div>
</div>
