<section class="content-header{{#eq align compare='center'}} -center-aligned{{/eq}}">
	<h1 class="content-title">{{this.title}}</h1>
	{{#eq teaser compare=true}}
	<p class="content-lead">{{this.lead}}</p>
	{{/eq}}
</section>
