<ul class="tag col-flex">
	<li class="tag-item"><span class="tag-subtitle">Tag:</span></li>
	{{#each tag}}
	<li class="tag-item"><a href="tagging.html" class="tag-link">{{this}}</a></li>
	{{/each}}
</ul>
