.search {
	position: relative;
	&-panel {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		opacity: 0;
		//visibility: hidden;
		z-index: 11;
		background: #2a2a2a;
		padding: 0;
		//border-right: 1px inset #ccc;
		@include transition(all .2s ease);
		@include transform(translateX(100vw));
		.nav-button {
			position: absolute;
			top: 20px;
			right: 20px;
			@include transform(scale(1.2));
			@include min-responsive($screen-tablet) {
				@include transform(scale(2));
			}
		}
		.icon-bar.-active i::after,
		.icon-bar.-active i::before {
			background: #fff;
		}
	}
	&-info {
		display: block;
		padding: 20px 0;
		@include font-pack($font_secondary, 1rem, false, false, #fff);
	}
	&-wrap {
		position: relative;
		padding-top: 20vh;
		//height: 100%;
		align-items: center;
	}
	&-form {
		position: relative;
		.icon {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 2;
			font-size: 19px;
			pointer-events: none;
		}
	}
	&-form {
		position: relative;
		width: 100%;
	}
	&-input {
		//text-align: right;
		background: transparent;
		height: 60px !important;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		box-shadow: none;
		border: transparent;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		text-transform: uppercase;
		padding: 6px 0;
		@include font-pack($font_secondary, 4rem, false, false, #fff);
		&::placeholder {
			color: #fff;
		}
		&:focus,
		&:hover {
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: transparent;
			border: transparent;
			border-bottom: 1px solid #fff;
		}
	}
	&-submit {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		
		width: 40px;
		height: 40px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: transparent;
		box-shadow: none;
		border: none;
		color: transparent;
		&:focus,
		&:hover {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: transparent;
			box-shadow: none;
			border: none;
			color: transparent;
		}
	}
	&-bar {
		opacity: 0;
		//visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: #FFF0F1;
		@include transition(all .2s ease);
		&.-active {
			opacity: 1;
			//visibility: visible;
			top: 100%;
			//@include transform(translateY(100%));	
		}
	}

	// header
	&-block {
		position: relative;
		margin: 25px 0;
	}
	&-keywords {
		text-transform: uppercase;
		margin-bottom: 10px;
		@include font-pack($font_secondary, 32px, 700, false, #707070);
	}
	&-count {
		@include font-pack($font_secondary, 16px, false, false, #797979);
	}
}
