<nav class="nav -panel">
	<a href="#" class="nav-button -menu js-menu" title="Menu">
		<span class="icon icon-bar">
			<i></i>
		</span>
	</a>
	<ul class="nav-wrap">
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">Fashion</a>
		</li>
		<li class="nav-item">
			<a href="kanal-tipe2.html" class="nav-link">Beauty</a>
		</li>
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">Celebrity</a>
		</li>
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">Culture</a>
		</li>
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">People</a>
		</li>
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">Bride</a>
		</li>
		<li class="nav-item">
			<a href="video.html" class="nav-link">All Videos</a>
		</li>
		<li class="nav-item">
			<a href="kanal.html" class="nav-link">Follow</a>
			<a href="#" class="nav-arrow js-arrow"><span></span></a>
			<ul class="nav-submenu">
				<li class="nav-subitem"><a href="#" class="nav-link -sub">Facebook</a></li>
				<li class="nav-subitem"><a href="#" class="nav-link -sub">Twitter</a></li>
				<li class="nav-subitem"><a href="#" class="nav-link -sub">Instagram</a></li>
				<li class="nav-subitem"><a href="#" class="nav-link -sub">Youtube</a></li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="static.html" class="nav-link">Privacy Policy</a>
		</li>
	</ul>
</nav>
