<div class="ads-skin">
	<div class="ads-skin-item -left">
		<div class="ads-skin-img -left">
			<a href="#">
				<img src="https://tpc.googlesyndication.com/daca_images/simgad/1460808061111611442">
			</a>
		</div>
	</div>
	<div class="ads-skin-item -right">
		<div class="ads-skin-img -right">
			<a href="#">
				<img src="https://tpc.googlesyndication.com/simgad/13630383704139847187">
			</a>
		</div>
	</div>
</div>
