<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- logo big -->
	{{> logo_block}}

	<!-- header -->
	{{> header}}
		
	<!-- root -->
	<div class="root">

		<!-- ads top -->
		{{> ads_top}}

		<div class="col-fluid">
			<div class="container clearfix">

				{{#withFirst read.people}}
				<!-- content -->
				{{> read_header}}
				{{> read_content align='center' polling=true}}
				{{/withFirst}}

			</div>
		</div>
		<div class="col-fluid">
			<div class="container clearfix">

				{{> title type='next' content="Read Next"}}
				<div class="feed-with-ads feed-more col-flex">
					<div class="col-left">
						<section class="feed feed-2 -more col-flex">
							{{> more index_start=2 index_end=4}}
						</section>
					</div>
					<div class="col-right">
						{{> ads_square}}
					</div>
				</div>

				{{> title type='more' content="Fashion"}}
				<section class="feed feed-4 col-flex">
					{{> more index_start=3 index_end=11}}
				</section>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
<script>
	if($('.poll-button').length>0){
		$('.poll-button').click(function(e){
			e.preventDefault();
			var pr = $(this).parent();
			pr.addClass('result');
			pr.find('.poll-button').each(function(){
				$(this).find('.poll-bar').animate({
					width: $(this).data('percent')+'%'
				});
				$(this).attr('disabled','disabled');
			});

		});
	}
</script>
	
</body>
</html>
