<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- logo big -->
	{{> logo_block}}

	<!-- header -->
	{{> header menu_title='Fashion'}}
		
	<!-- ads skin -->
	{{> ads_skin}}

	<!-- root -->
	<div class="root">
		
		<div class="col-fluid">
			<div class="container clearfix">

				<!-- section -->
				{{> section title='Fashion'}}

				<!-- ads top -->
				{{> ads_top}}

				<!-- haeadline section -->
				<section class="feed feed-section-hl col-flex">
					{{> headline_section index_start=1 index_end=4}}
				</section>
				
				<!-- latest -->
				<div class="feed-with-ads col-flex">
					<div class="col-left">
						<section class="feed feed-section col-flex">
							{{> latest_section index_start=4 index_end=10}}
						</section>

						<a href="indeks-artikel.html" class="button-more"><span>More Articles</span></a>
					</div>
					<div class="col-right">
						{{> ads_square}}

						{{> ads_square}}
					</div>
				</div>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
