<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- logo big -->
	{{> logo_block}}

	<!-- header -->
	{{> header menu_title='Beauty'}}
		
	<!-- root -->
	<div class="root">
		
		<!-- section -->
		{{> section title='Beauty'}}

		<!-- ads top -->
		{{> ads_top}}

		<div class="col-fluid">
			<div class="container clearfix">

				<!-- latest -->
				<div class="feed-with-ads col-flex">
					<div class="col-left">
						<section class="feed feed-section col-flex">
							{{> latest_section_tipe2 index_start=1 index_end=5}}
						</section>

					</div>
					<div class="col-right">
						{{> ads_square}}
					</div>
				</div>

				<!-- latest -->
				<div class="feed-with-ads col-flex">
					<div class="col-left">
						<section class="feed feed-section col-flex">
							{{> latest_section_tipe2 index_start=1 index_end=5}}
						</section>

						<a href="indeks-artikel.html" class="button-more"><span>More Articles</span></a>
					</div>
					<div class="col-right">
						{{> ads_square}}
					</div>
				</div>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
