<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- logo big -->
	{{> logo_block}}

	<!-- header -->
	{{> header}}
		
	<!-- root -->
	<div class="root">
		
		<div class="col-fluid">
			<div class="container clearfix">
				
				<!-- ads top -->
				{{> ads_top}}

				<!-- result -->
				<div class="search-block">
					<div class="search-keywords">Insiprasi</div>
					<div class="search-count">2314 results</div>
				</div>

				<section class="feed feed-4 col-flex">
					{{> latest index_start=0 index_end=12 subtitle=true}}
				</section>

				<a href="indeks-artikel.html" class="button-more"><span>Show More</span></a>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
