<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- logo big -->
	{{> logo_block}}

	<!-- header -->
	{{> header}}
		
	<!-- root -->
	<div class="root">
		
		<div class="col-fluid">
			<div class="container clearfix">

				<!-- ads top -->
				{{> ads_top}}

				<!-- latest -->
				{{> title type='small' content="# Aktris Indonesia"}}
				<section class="feed col-flex">
					{{> latest_section_list index_start=0 index_end=12}}
				</section>

				{{> paging}}

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
