<header class="header -fixed">
	<div class="header-bar">
		<div class="header-wrap container col-flex">
			<div class="header-menu">
				<a href="#" class="nav-button -menu js-menu" title="Menu">
					<span class="icon icon-bar">
						<i></i>
					</span>
				</a>
			</div>
			<div class="header-logo">
				<div class="logo">
					<a href="index.html">
						<img src="./asset/images/logo-bazaar-small.png" alt="Harper's BAZAAR Indonesia">
					</a>
				</div>
			</div>
			<div class="header-search">
				<a href="#" class="nav-button -search js-search" title="Search">
					<span class="icon icon-search"></span>
				</a>
			</div>
		</div>
	</div>
</header>
<div class="header-holder"></div>
