{{#eq facebook compare=true}}
<div class="social-item">
	<a href="#" class="social-link -facebook">
		<span class="icon icon-facebook"></span>
	</a>
</div>
{{/eq}}
{{#eq twitter compare=true}}
<div class="social-item">
	<a href="#" class="social-link -twitter">
		<span class="icon icon-twitter"></span>
	</a>
</div>
{{/eq}}
{{#eq google compare=true}}
<div class="social-item">
	<a href="#" class="social-link -google-plus">
		<span class="icon icon-google-plus"></span>
	</a>
</div>
{{/eq}}
{{#eq instagram compare=true}}
<div class="social-item">
	<a href="#" class="social-link -instagram">
		<span class="icon icon-instagram"></span>
	</a>
</div>
{{/eq}}
{{#eq whatsapp compare=true}}
<div class="social-item">
	<a href="#" class="social-link -whatsapp">
		<span class="icon icon-whatsapp"></span>
	</a>
</div>
{{/eq}}
{{#eq linkedin compare=true}}
<div class="social-item">
	<a href="#" class="social-link -linkedin">
		<span class="icon icon-linkedin"></span>
	</a>
</div>
{{/eq}}
{{#eq line compare=true}}
<div class="social-item">
	<a href="#" class="social-link -line">
		<span class="icon icon-line"></span>
	</a>
</div>
{{/eq}}
{{#eq rss compare=true}}
<div class="social-item">
	<a href="#" class="social-link -rss">
		<span class="icon icon-rss"></span>
	</a>
</div>
{{/eq}}
{{#eq youtube compare=true}}
<div class="social-item">
	<a href="#" class="social-link -youtube">
		<span class="icon icon-youtube"></span>
	</a>
</div>
{{/eq}}
