<div class="cover clearfix">
	<div class="cover-wrap">
		<a href="{{channel.link}}" class="cover-link">
			<div class="cover-asset" style="background-image: url('https://asset.kompas.com/crop/0x0:0x0/1400x700/data/photo/{{channel.img}}');">
			</div>
			<div class="cover-info">
				<h2 class="cover-title">{{channel.title}}</h2>
			</div>
		</a>
	</div>
</div>
