<div class="feed-item">
	<div class="feed-asset-yt">
		<iframe src="https://www.youtube.com/embed/{{channel.video}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
		{{!-- <a href="{{!channel.link}}" class="feed-link">
			<img src="{{!channel.img}}" alt="{{!channel.title}}">
		</a> --}}
	</div>
	<div class="feed-box">
		<h3 class="feed-title">{{channel.title}}</h3>
	</div>
</div>
