<nav class="nav -bar">
	<ul class="nav-wrap col-flex">
		{{#withFirst menu 4}}
		<li class="nav-item"><a href="{{link}}" class="nav-link{{#eq title compare=../menu_title}} -active{{/eq}}">{{title}}</a></li>
		{{/withFirst}}
	</ul>
</nav>
