<div class="section-block">
	<div class="section-wrap col-flex">
		<div class="section-asset" style="background-image: url('./asset/images/section-{{lowercase title}}.jpg');"></div>
		<h3 class="section-title">{{title}}</h3>
	</div>
</div>
