<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- header -->
	{{> header}}
		
	<!-- root -->
	<div class="root">

		<!-- ads top -->
		{{> ads_top}}

		<div class="col-fluid">
			<div class="container-magazine clearfix">

				{{#withFirst read.magazine}}
				<!-- content -->
				{{> read_header teaser=true}}
				{{> read_content_magz}}
				{{/withFirst}}

			</div>
		</div>
		<div class="col-fluid">
			<div class="container clearfix">

				{{> title type='next' content="Read Next"}}
				<section class="feed feed-2 feed-more-block col-flex">
					{{> more_block index_start=0 index_end=4}}
				</section>

				{{> title type='more' content="Bazaar Special"}}
				<section class="feed feed-3 -more col-flex">
					{{> more index_start=6 index_end=12}}
				</section>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
