<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>

	<!-- navpanel -->
	{{> navpanel}}

	<!-- searchpanel -->
	{{> searchpanel}}

	<!-- header -->
	{{> header}}
		
	<!-- root -->
	<div class="root">
		
		<!-- ads top -->
		{{> ads_top}}

		<div class="col-fluid">
			<div class="container clearfix">

				<!-- static page -->
				{{> title type='small' content="About us"}}
				<section class="content-body">
					<p>Cosmopolitan is an American monthly fashion and entertainment magazine for women debut in New York City on that was formerly titled The Cosmopolitan. Cosmopolitan magazine is one of the best-selling magazines and is directed mainly towards a female audience.</p>
					<p><a href="#">Jessica Pels</a> is the editor-in-chief of Cosmopolitan magazine. The magazine was first published based in New York City on 1886 in the United States as a family magazine; it was later transformed into a literary magazine and since 1965 has become a women's magazine.</p>
				</section>

			</div>
		</div>
		
		<!-- footer -->
		{{> footer}}
		
	</div>

	<!-- ads horizontal -->
	{{!> ads_horizontal}}

	{{> js}}
	
</body>
</html>
