<article class="content-with-ads col-flex">
	<div class="col-left">
		<div class="content-main">
			<div class="content-info col-flex">
				<div class="content-author-img">
					<img src="./asset/images/dummy/" alt="Khoirul Huda">
				</div>
				<div class="content-author">
					<div class="content-author-name">by: <a href="indeks-author.html">Khoirul Huda</a></div>
					<div class="content-date"> / 23 September 2020</div>
				</div>
				<div class="content-social col-flex">
					<div class="social-item">
						<a href="#" class="social-link -facebook">
							<span class="icon icon-facebook"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -twitter">
							<span class="icon icon-twitter"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -whatsapp">
							<span class="icon icon-whatsapp"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -linkedin">
							<span class="icon icon-linkedin"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link -line">
							<span class="icon icon-line"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="content-photo-main">
				<div class="photo-main">
					<div class="photo-img">
						<img src="./asset/images/dummy/" alt="">
					</div>
					<div class="photo-credit"></div>
				</div>
			</div>
			<div class="content-body">
				

				<!-- ads -->
				<div class="ads-belt" data-title="Advertisement - Continue Reading Below">
					<img src="https://tpc.googlesyndication.com/simgad/14233933394801771515" alt="">
				</div>

				<!-- s: content listing -->
				<div class="content-list">
				</div>
				<!-- e: content listing -->

			</div>
			<div class="content-tag">
				<ul class="tag col-flex">
					<li class="tag-item"><span class="tag-subtitle">Tag:</span></li>
				</ul>
			</div>
			<div class="content-social -bottom col-flex">
				<div class="social-item"><span class="social-subtitle">Share:</span></div>
				<div class="social-item">
					<a href="#" class="social-link -facebook">
						<span class="icon icon-facebook"></span>
					</a>
				</div>
				<div class="social-item">
					<a href="#" class="social-link -twitter">
						<span class="icon icon-twitter"></span>
					</a>
				</div>
				<div class="social-item">
					<a href="#" class="social-link -whatsapp">
						<span class="icon icon-whatsapp"></span>
					</a>
				</div>
				<div class="social-item">
					<a href="#" class="social-link -linkedin">
						<span class="icon icon-linkedin"></span>
					</a>
				</div>
				<div class="social-item">
					<a href="#" class="social-link -line">
						<span class="icon icon-line"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-right">
		<div class="ads-box js-sticky">
			<a href="#">
				<img src="https://tpc.googlesyndication.com/simgad/241969906600065835" alt="">
			</a>
		</div>
	</div>
</article>
