<div class="author-header">
	<div class="author-wrap col-flex">
		<div class="author-img">
			<img src="./asset/images/dummy/" alt="">
		</div>
		<div class="author-box">
			<h4 class="author-name"></h4>
			<span class="author-role">Feature Reporter</span>
			<p class="author-desc">She is a Libra and the author of Cosmopolitan’s weekly Sexoscopes. She lives in southeastern North Carolina and spends her free time studying astrology, writing horoscopes, crafting zodiac-flavored memes, and roller skating. If you like astrology and humor, follow her on Instagram and Twitter!</p>
			<div class="author-social">
				<div class="social-item">
					<a href="#" class="social-link -twitter">
						<span class="icon icon-twitter"></span>
					</a>
				</div>
				<div class="social-item">
					<a href="#" class="social-link -instagram">
						<span class="icon icon-instagram"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
